@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@500&family=Playfair+Display:ital,wght@1,500&display=swap');

.allBtn{
    min-width: 100vw;
    min-height: 100vh;
    padding-top: 150px;
}

button{
    font-family: 'Noto Serif TC', serif;
    height: 50px;
    width: 100px;
    border-radius: 3px;
    cursor: pointer;
}

.creditBtn{
    padding-left: 50px;
}

.graduateBtn{
    padding-left: 220px;
    padding-top: 10px;
}

.othersBtn{
    padding-left: 50px;
    padding-top: 10px;
}

.socialBtn{
    padding-left: 220px;
    padding-top: 10px;
}

.chatRoomBtn{
    padding-left: 50px;
    padding-top: 10px;
}

.courseSelectBtn{
    padding-left: 220px;
    padding-top: 10px;
}

