@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@500&family=Playfair+Display:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=PT+Serif&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=EB+Garamond:wght@500&family=PT+Serif&family=Permanent+Marker&display=swap');

html,body,#root,.NickName{
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    /* The image used */
    background-image: url("img/background.PNG");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.NickName_title{
    font-size: 17px;
    font-family: 'Permanent Marker', cursive;
}

.NickName_title .NickName_title-img{
    z-index: 2;
    padding-top: 150px;
}

/*logo*/
.NickName_title-img img{
    max-height: 200px;  
    max-width: 300px; 
    padding-top: 10px;
    margin:auto;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

/*sign In*/
.NickName_title-text img{
    max-width: 300px;
    min-height: 200px;
    padding-top: 270px;
}

.first_label{
    font-size: 13px;
    padding-top: 10px;
    
}

.NickName_label_loc{
    margin-left: 15px;
}

.NickName_label_loc > .hint_label{
    width: 250px;
}

.NickName_label_loc > input{
    border-bottom: 1px solid #000000;  
    border-top:0px;  
    border-left:0px;  
    border-right:0px; 
    padding-top: 20px;
}


.NickName_bg > .NickName_submitForm{
    z-index: 2;
    position: absolute;
    margin:auto;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 190px;
    width: 200px;
    height: 150px;
    background-color: white;
    border-radius: 5px;
}

.NickName_submitButton_place{
    padding-top: 0px;
    padding-left: 23px;
}

.NickName_submitButton_place > .NickName_submitButton{
    width: 150px;
    border-radius: 15px;
    background-color: #7ea6e1;
    color: rgb(255, 255, 255);
    border-color: transparent;
}

.NickName_submitForm label{
    display:inline-block;
    width: 170px;
    text-align: left;
}

.NickName_img1{
    height: 200px;
    width: 200px;
    margin-left: 250px;
    margin-top: 10px;
}


.NickName_img1 img{
    position: absolute;
    max-height: 250px;  
    max-width: 250px; 
    top: 50px;
    right: -85px;
    z-index: 1;
}

.NickName_img2 img{
    position: absolute;
    max-height: 220px;  
    max-width: 300px; 
    z-index: 1;
    top: -60px;
    left: -50px;
}

.NickName_img3 img{
    position: absolute;
    max-height: 200px;  
    max-width: 300px; 
    bottom: 10px;
    left: -65px;
    z-index: 1;
}

.NickName_img4 img{
    position: absolute;
    bottom: -105px;
    right: -10px;
    max-height: 300px;  
    max-width: 380px; 
    z-index: 1;
}