@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@500&family=Playfair+Display:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=PT+Serif&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=EB+Garamond:wght@500&family=PT+Serif&family=Permanent+Marker&display=swap');

html,body,#root,.SignIn{
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    /* The image used */
    background-image: url("img/background.PNG");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.SignIn_title{
    font-size: 16px;
    font-family: 'Permanent Marker', cursive;
}

.SignIn_title .SignIn_title-img{
    z-index: 2;
    padding-top: 150px;
}

/*logo*/
.SignIn_title-img img{
    max-height: 200px;  
    max-width: 300px; 
    padding-top: 10px;
    margin:auto;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.SignIn_title .SignIn_title-text{
    z-index: 3;
    position: absolute;
    margin:auto;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*sign In*/
.SignIn_title-text img{
    max-width: 300px;
    min-height: 200px;
    padding-top: 270px;
    
}

.SignIn_SignIn{
    z-index: 0;
    position: relative;
}

.SignIn_submitForm{
    z-index: 4;
    position: absolute;
    margin:auto;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 450px;
}

.SignIn_submitButton_place{
    padding-left: 9px;
}


.SignIn_submitButton_place > button{
    width: 150px;
    border-radius: 15px;
    background-color: #7ea6e1;
    color: white;
    border-color: transparent;
}

.SignIn_submitForm label{
    display:inline-block;
    width: 170px;
    text-align: left;
}

.SignIn_img1{
    height: 200px;
    width: 200px;
    margin-left: 250px;
    margin-top: 10px;
}


.SignIn_img1 img{
    position: absolute;
    max-height: 250px;  
    max-width: 250px; 
    top: 50px;
    right: -85px;
    z-index: 1;

}

.SignIn_img2 img{
    position: absolute;
    max-height: 220px;  
    max-width: 300px; 
    z-index: 1;
    top: -60px;
    left: -50px;

    
}

.SignIn_img3 img{
    position: absolute;
    max-height: 200px;  
    max-width: 300px; 
    bottom: 10px;
    left: -65px;
    z-index: 1;
}

.SignIn_img4 img{
    position: absolute;
    bottom: -105px;
    right: -10px;
    max-height: 300px;  
    max-width: 380px; 
    z-index: 1;
}