df-messenger {
   --df-messenger-bot-message: #009900;
   --df-messenger-button-titlebar-color: white;
   --df-messenger-button-titlebar-font-color: black;
   --df-messenger-chat-background-color: #fafafa;
   --df-messenger-font-color: white;
   --df-messenger-send-icon: #878fac;
   --df-messenger-user-message: #479b3d;
  }