.ChatRoom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
}
.Chatroom{
    background-color: rgb(249, 236, 207);
}

.Chatroom .chatroom-header {
    background-color: #ecbd77;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.Chatroom .user-online {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px; /* 調整適當的字體大小 */
    margin: 10px; /* 調整適當的邊距 */
}

.Chatroom h1 {
    margin-bottom: 20px;
    padding-left: 15%;
}

.Chatroom .chatroom-messages {
    flex: 1;
    overflow-y: auto; /* 让聊天消息区域可滚动 */
    padding-top: 110px;
    padding-bottom: 10px; /* 为了让输入框留出空间 */
  }

.Chatroom .message-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.Chatroom .sent {
    background-color: #f9f5eb;
    color: #333;
    align-self: flex-end;
}
  
.Chatroom  .received {
    background-color: #f6dfad;
    color: #333;
    align-self: flex-start;
}

.Chatroom .message-list div {
    align-items: flex-end;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    word-wrap: break-word; /* 自動換行 */
    word-break: break-all; /* 長單詞斷開換行 */
}

.Chatroom .enter {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 95%;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.Chatroom input[type="text"] {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
}

.Chatroom button[type="submit"] {
    background-color: #e7ac55;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}