@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@500&family=Playfair+Display:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=PT+Serif&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=EB+Garamond:wght@500&family=PT+Serif&family=Permanent+Marker&display=swap');

html,body,#root,.Choose{
    height: 100%;
    padding: 0;
    margin: 0;
}

.Choose {
    
    background-color: rgb(249, 236, 207);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Choose .bee1Img {
    width: 20%;
    height: 20%;
    padding-top: 10%;
    padding-left: 10%;
}

.Choose .bee2Img {
    width: 20%;
    height: 20%;
    padding-left: 70%;
}


.Choose .bearImg{
    width: 80%;
    height: 70%;
    padding-top: 40%;
    padding-left: 52%;
}

.ChoosePosition{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ChoosePosition > .chooseToRent{
    margin-top: 20px;
    width: 150px;
    height:45px;
    border-radius: 15px;
    border: none;
    background-color: rgb(242, 201, 111);
    color: white;
}

.ChoosePosition > .chooseToChangeClass{
    margin-top: 20px;
    width: 150px;
    height:45px;
    border-radius: 15px;
    border: none;
    background-color: rgb(242, 201, 111);
    color: white;
}

.ChoosePosition > .chooseToFood{
    margin-top: 20px;
    width: 150px;
    height:45px;
    border-radius: 15px;
    border: none;
    background-color: rgb(242, 201, 111);
    color: white;
}

.ChoosePosition > .myPosts{
    margin-top: 20px;
    width: 150px;
    height:45px;
    border-radius: 15px;
    border: none;
    background-color: rgb(242, 201, 111);
    color: white;
}

.ChoosePosition > .myLoves{
    margin-top: 20px;
    width: 150px;
    height:45px;
    border-radius: 15px;
    border: none;
    background-color: rgb(242, 201, 111);
    color: white;
}
