@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@500&family=Playfair+Display:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=PT+Serif&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=EB+Garamond:wght@500&family=PT+Serif&family=Permanent+Marker&display=swap');

html,body,#root,.Cover{
    height: 100%;
    padding: 0;
    margin: 0;
  
}

.Cover_bg {
    /* The image used */
    background-image: url("img/background.PNG");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.dropdown-toggle{
  padding-top: 20px;
  right: 0px;
}



.Cover_signIn{
    text-align: center;
    padding-top: 100px;
}


.Cover_title{
    font-size: 17px;
    font-family: 'Permanent Marker', cursive;
}

/*logo位置*/
.Cover_title-img{
    z-index: 2;
    position: absolute;
    top: 240px;
    left: 50%;
    transform: translate(-50%, -50%);

}

/*title位置*/
.Cover_title-text{
  padding-top: 20px;
}

.Cover_title-img img{
    max-height: 200px;  
    max-width: 300px; 
    padding-top: 95px;
}

label{
  font-size: 18px;
}

input{
    cursor:pointer;
    border-radius: 4px;
    border:0 none;
    height: 20px;
}

.Cover_welcomeBtn{
    z-index: 1;
    position: absolute;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    padding-top: 160px;
}

.Cover_welcomeBtn ::after {
    content: '»';
    position: absolute;
    opacity: 0;
    right: -20px;
    transition: 0.5s;
  }

button:hover{
    background-color: transparent;
    letter-spacing: 1px;
    padding-right: 25px;
}

button:hover span::after {
    opacity: 1;
    right: 0;
  }
