@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@500&family=Playfair+Display:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=PT+Serif&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=EB+Garamond:wght@500&family=PT+Serif&family=Permanent+Marker&display=swap');


html,body,#root,.DetectCourse{
    height: 100%;
    padding: 0;
    margin: 0;
  
}

.DetectCourse_bg {
    /* The image used */
    background-image: url("img/background.PNG");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.DetectCourse_search_position{
    text-align: center;
}

.DetectCourse_search_number{
    width:200px;
    height:30px;
    margin-top: 30%;
}

.DetectCourse_search_name{
    width:200px;
    height:30px;
}

.DetectCourse_searchBtn, .DetectCourse_delete{
    font-family: 'Noto Serif TC', serif;
    color: #0099CC; 
    background: transparent; 
    border: 2px solid #0099CC;
    border-radius: 6px; 
    color: black;
    padding: 8px 16px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 8px;
}

.DetectCourse_searchBtn:hover {
    background-color: #008CBA;
    color: white;
}

.DetectCourse_delete{
    margin-left: 80%;
}

.detectedDelBtn{
    font-family: 'Noto Serif TC', serif;
    color: #0099CC; 
    background: transparent; 
    border: 2px solid #0099CC;
    border-radius: 6px; 
    color: black;
    padding: 8px 16px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 150px;
}

.delDet{
    width: 200px;
    height: 70px;
    position: absolute;
    z-index: 3;
    background-color: white;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    margin-left: 40%;
    margin-top: 40%;
}

.delOk{
    width: 70px;
    height: 30px;
    border-radius: 7px;
    background-color: rgba(204, 235, 236, 0.951);
    margin-left: 25px;
    
}

.delYes{
    width: 70px;
    height: 30px;
    border-radius: 7px;
    background-color: rgba(204, 235, 236, 0.951);
    margin-left: 9%;
}

.delText{
    font-family: 'Noto Serif TC', serif;
    text-align: center;
    padding-left: 25%;
}

.detDel{
    font-family: 'Noto Serif TC', serif;
    font-size: 12px;
    background-color: rgba(204, 235, 236, 0.951);
    width:80px;
    text-align:center;
    height:30px;
    border-radius: 6px; 
    margin-left: 65%;
    margin-top: 5px;
    border: 3px solid transparent;
    outline: none;
}

.Det_addSucText{
    font-family: 'Noto Serif TC', serif;
}