html,body,#root,.Favorite{
    height: 100%;
    padding: 0;
    margin: 0;
}

.Favorite {
    /* The image used */
    background-color: rgb(249, 236, 207);
  
    /* Full height */
    height: 100%;
    
}

/* .Favorite .heart{
    max-width: 20%;
    padding-left: 10%;
    position: absolute;
    z-index: 2;
    margin-top: 5%;
}

.Favorite .stars{
    max-width: 20%;
    padding-left: 75%;
    position: absolute;
    z-index: 2;
    margin-top: 5%;
} */

.Favorite .heart{
    max-width: 30%;
    padding-left: 5%;
    position: absolute;
    z-index: 2;
    margin-top: 5%;
}

.Favorite .stars{
    max-width: 30%;
    padding-left: 65%;
    position: absolute;
    z-index: 2;
    margin-top: 5%;
}

.Favorite .selectType{
    margin-top: 35%;
    margin-left: 10%;
    padding: 2%;
    width: 28%;
}

.Favorite .scrollableContainer {
    height: 50%; /* 設置固定高度，根據需要調整 */
    overflow: auto;
}
