.food_yolk{
    max-width: 35%;
    padding-left: 4%;
    position: absolute;
    z-index: 2;
    margin-top: 3%;
}

.food_redBall{
    max-width: 40%;
    padding-left: 60%;
    position: absolute;
    z-index: 1;
    margin-top: 2%;
}

.rating_star{
    max-width: 5%;
}