@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300&display=swap');

.food_yolk{
    max-width: 35%;
    padding-left: 4%;
    position: absolute;
    z-index: 2;
    margin-top: 3%;
}

.food_redBall{
    max-width: 40%;
    padding-left: 60%;
    position: absolute;
    z-index: 1;
    margin-top: 2%;
}

.rating_star{
    max-width: 5%;
}

.ArticleSelect{
    font-family: 'Noto Serif TC', serif;
    border-radius: 5px;
    background-color: transparent; 
    padding: 10px;
    position: absolute;
    margin-top: 42%;
    margin-left: 10%;
    z-index: 2;
}

.food_back{
    max-height: 40px;
    max-width: 40px;
    padding-top: 10px;
    position: absolute;
    z-index: 3;
}

.food_noData{
    font-family: 'Noto Serif TC', serif;
}

.food_modal_yes{
    width: 70px;
    height: 30px;
    border-radius: 7px;
    background-color: bisque;
}

.food_modal_no{
    width: 70px;
    height: 30px;
    border-radius: 7px;
    background-color: bisque;
    margin-left: 5px;
}

.food_deleteModal{
    width: 150px;
    height: 70px;
    position: absolute;
    z-index: 3;
    background-color: white;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    margin-top: -150px;
    margin-left: 150px;
}

.food_deleteText{
    font-family: 'Noto Serif TC', serif;
    text-align: center;
}

.food_firstRating{
    width: 200px;
    height: 80px;
    position: absolute;
    z-index: 3;
    background-color: white;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    margin-top: -150px;
    margin-left: 150px;
}

.food_authorImg{
    width: 15%; /* 設定頭像的寬度和高度 */
    height: 15%;
    border-radius: 50%;
    overflow: hidden;
}

.f_LoadingText{
    font-family: 'Noto Serif TC', serif;
    z-index: 3;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 45%;
    font-size: 15px;
  }
  
  .f_preloader > div{
    background-color: black;
    height: 2px;
    width: 2px;
    border-radius: 50%;
    display: inline-block;
    animation: stretchdelay 0.7s infinite ease-in-out;
  }
  
  @keyframes stretchdelay {
    0%, 40%, 100% { 
         transform: translateY(0px);
    }
    20% {
         transform: translateY(-3px);
    }
  }
  
  .f_preloader .f_dot1 {
    animation-delay: 0;
  }
  
  .f_preloader .f_dot2 {
    animation-delay: 0.1s;
  }
  
  .f_preloader .f_dot3 {
    animation-delay: 0.2s;
  }
  