html,body,#root,.GeneralEducation{
    height: 100%;
    padding: 0;
    margin: 0;
}

.g_education {
    /* The image used */
    background-image: url("img/background.PNG");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.GeneralEducation .g_backicon{
    height: 40px;
    width: 40px;
    padding-top: 10px;
}

.GeneralEducation .g_title{
    text-align: center;
    padding-top: 0px;
}

.GeneralEducation .g_selectDiv{
    padding-left: 75px;
    padding-top: 20px;
}

.GeneralEducation .g_selectMust{
    width: 250px;
    font-size: 25px; 
    color: #afc2f8;
    border-radius: 10px;
    border: none;
}

.GeneralEducation .g_scrollableContainer {
    height: 520px; /* 設置固定高度，根據需要調整 */
    overflow: auto;
  }

