html,body,#root,.GeneralEducation{
    height: 100%;
    padding: 0;
    margin: 0;
    
}

.GeneralEducation {
    /* The image used */
    background-image: url("img/background.PNG");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.GeneralEducation .g_backicon{
    height: 40px;
    width: 40px;
    padding-top: 10px;
}

.GeneralEducation .g_title{
    text-align: center;
    padding-top: 0px;
}

.GeneralEducation .selectDiv{
    padding-left: 10%;
    padding-top: 5%;
}

.GeneralEducation .selectMust{
    width: 90%;
    font-size: 25px; 
    color: #008CBA;
    border-radius: 10px;
    border: none;
}

.GeneralEducation .g_Lable {
    height: 530px; /* 設置固定高度，根據需要調整 */
    overflow: auto;
}