html,body,#root,.HistoryResult{
    height: 100%;
    padding: 0;
    margin: 0;
}

.HistoryResult_bg {
    /* The image used */
    background-image: url("img/background.PNG");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.HistoryResult_backicon{
    height: 40px;
    width: 40px;
    padding-top: 10px;
}

.HistoryResult_title{
    text-align: center;
    padding-top: 0px;
}

.er_scrollableContainer {
    height: 530px; /* 設置固定高度，根據需要調整 */
    overflow: auto;
  }

.HistoryResult .selectType{
    margin-left: 75%;
    padding: 1%;
    width: 20%;
}