.home_bg {
    /* The image used */
    background-image: url("img/background2.JPG");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home_backicon{
    height: 40px;
    width: 40px;
    padding-top: 10px;
}

.allBtn{
    padding-top: 140px;
}

.flex {
    display: flex;
    flex-direction: row;
  }

.allBtn button{
    height: 125px;
    width: 125px;
    border-radius: 12px;
    background-color: #ffffff;
    border: none;
}

.allBtn button:hover{
    background-color: rgba(196, 200, 201, 0.833);
}

.pic{
    position: relative;
    height: 120px;
    width: 120px;
}
.creditBtn{
    padding-left: 50px;
}

.graduateBtn{
    padding-left: 40px;
}

.courseSelectBtn{
    padding-left: 50px;
    padding-top: 30px;
} 

.socialBtn{
    padding-left: 40px;
    padding-top: 30px;
}

.chatRoomBtn{
    padding-left: 50px;
    padding-top: 30px;
}

.othersBtn{
    padding-left: 40px;
    padding-top: 30px;
}