html,body,#root,.MyArticles{
    height: 100%;
    padding: 0;
    margin: 0;
}

.MyArticles {
    /* The image used */
    background-color: rgb(249, 236, 207);
  
    /* Full height */
    height: 100%;
    
}

.MyArticles .heart{
    max-width: 30%;
    padding-left: 5%;
    position: absolute;
    z-index: 2;
    margin-top: 5%;
}

.MyArticles .stars{
    max-width: 30%;
    padding-left: 65%;
    position: absolute;
    z-index: 2;
    margin-top: 5%;
}

.MyArticles .selectType{
    margin-top: 30%;
    margin-left: 10%;
    padding: 2%;
    width: 28%;
}
