html,#root{
    height: 100%;
    padding: 0;
    margin: 0;
    height: 100vh;

}

body {
    background-image: url("img/background.PNG");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.PostArticle{
    overflow: hidden;
}


.articleFormPosition{
    min-width: match-parent;
    display: flex;
    justify-content: center;
    padding-top: 30%;
}

@media screen and (min-width:500px){ 
    .articleFormPosition{
        padding-top: 15%;
    }
   }

.articleFormPosition > .articleForm{
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    overflow: auto;
    height: 82%;
    width: 95%;
    will-change: transform;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.inputFormPosition{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}


.articleForm > .selectType{
    margin-top: 20px;
    margin-left: 20px;
    padding: 5px;
    width: 28%;
    font-family: 'Noto Serif TC', serif;
}

/*美食發文*/
.articleFoodForm{
    padding-top: 30px;
    padding-left: 8px;
    /*border: 1px solid black;*/
    border-radius: 5px;
}

.articleFoodForm > .articleFoodFormAddress > input,
.articleFoodForm > .articleFoodFormInfo > input,
.articleFoodForm > .articleFoodFormTime > input,
.articleFoodForm > .articleFoodFormTitle > input
{
    border: none;
    border-bottom: 1px solid rgb(35, 35, 35);
    border-radius: 0px;
    margin-left: 15px;
    width: 60%;
    margin-bottom: 15px;
    font-family: 'Noto Serif TC', serif;
}

.articleFoodForm > .articleFoodFormSchoolRate > input{
    border: none;
    border-bottom: 1px solid rgb(35, 35, 35);
    border-radius: 0px;
    margin-left: 15px;
    width: 50%;
    margin-bottom: 15px;
}


.articleFoodFormSelect, .articleRentFormSelect{
    border: none;
    border-bottom: 1px solid rgb(35, 35, 35);
    border-radius: 0px;
    margin-left: 15px;
    width: 200px;
    font-family: 'Noto Serif TC', serif;
}

/*換課發文*/
.articleChangeClassForm{
    padding-top: 30px;
    padding-left: 8px;
    /*border: 1px solid black;*/
    border-radius: 5px;
}



.articleChangeClassForm > .articleChangeClassFormText > .articleChangeClassFormTextInput{
    width: 250px;
    height: 200px;
    margin-left: 65px;
    font-family: 'Noto Serif TC', serif;
}

/*租屋發文*/
.articleRentForm{
    padding-top: 30px;
    padding-left: 8px;
    /*border: 1px solid black;*/
    border-radius: 5px;
}

.articleRentForm > .articleRentFormTitle > .articleRentFormTitleInput{
    border: none;
    border-bottom: 1px solid rgb(35, 35, 35);
    border-radius: 0px;
    margin-left: 15px;
    width: 200px;
}

.articleRentForm > .articleRentFormTitle > input,
.articleRentForm > .articleRentFormAddress > input,
.articleRentForm > .articleRentMoney > input,
.articleRentForm > .articleRentFormPeople > input,
.articleRentForm > .articleRentFormType > input,
.articleRentForm > .articleRentFormFloor > input,
.articleRentForm > .articleRentFormDate > input{
    border: none;
    border-bottom: 1px solid rgb(35, 35, 35);
    border-radius: 0px;
    margin-left: 15px;
    width: 200px;
}

.articleRentForm > .articleRentFormDPeople > input{
    border: none;
    border-bottom: 1px solid rgb(35, 35, 35);
    border-radius: 0px;
    margin-left: 15px;
    width: 110px;
}

.articleRentForm > .articleRentFormCar > input,
.articleRentForm > .articleRentFormGender > input,
.articleRentForm > .articleRentFormPower > input,
.articleRentForm > .articleRentFormWater > input,
.articleRentForm > .articleRentFormRegion > select{
    margin-left: 15px;
}

.postArticle_waterMoney, .postArticle_powerMoney{
    border: none;
    border-bottom: 1px solid rgb(35, 35, 35);
    border-radius: 0px;
    width: 25px;
}



.articleRentForm > .articleRentFormText > .articleRentFormTextInput{
    width: 250px;
    height: 200px;
    margin-left: 50px;
    margin-top: 5px;
    font-family: 'Noto Serif TC', serif;
}

.articleFoodFormBtn{
    text-align: center;
}

.articleCCS{
    font-family: 'Noto Serif TC', serif;
}

.post_elmo{
    max-width: 23%;
    padding-left: 10%;
    position: absolute;
    z-index: 2;
    margin-top: 20%;
}

.post_conversation{
    max-width: 29%;
    padding-left: 35%;
    position: absolute;
    z-index: 1;
    margin-top: 3.5%;
}

.post_cat1{
    position: absolute;
    max-height: 250px;  
    max-width: 250px; 
    top: 50px;
    right: -85px;
    z-index: 1;
    overflow: hidden;
}

.post_cat2{
    position: absolute;
    max-height: 200px;  
    max-width: 200px; 
    z-index: 1;
    top: -60px;
    left: -50px;
    overflow: hidden;
}