.rent_house{
    max-width: 20%;
    padding-left: 10%;
    position: absolute;
    z-index: 2;
    margin-top: 5%;
}

.rent_connection{
    max-width: 20%;
    padding-left: 70%;
    position: absolute;
    z-index: 2;
    margin-top: 5%;
}

.courseSelect{
    background-color: transparent;

}

.rent_bee1Img{
    position: absolute;
    z-index: 2;
    width: 70px;
    height: 70px;
    padding-top: 20px;
    padding-left: 30px;
}

.rent_bee2Img{
    position: absolute;
    z-index: 2;
    width: 60px;
    height: 60px;
    padding-top: 0px;
    padding-left: 260px;
}